.homecontainer {
    width: 100%;
    height: 89vh;
    overflow: hidden;
}

.sectionleft {
    display: inline-block;
    width: 50%;
    height: 100%;
}

.sectionright {
    display: inline-block;
    width: 50%;
    height: 100%;

    background-color: #e60e33;
    border-radius: 0px 0px 0px 500px;
}

.sectionright .pics {
    /* float: left; */
    position: absolute;
    margin-top: 100px;
    margin-left: 75px;
}

.textcontainer {
    text-align: center;
    width: 50%;
    position: absolute;
    top: 30%;
}

.orderbutton {
    width: 20%;
    margin-top: 10px;
    margin-left: 25px;
    display: inline-block;
    cursor: pointer;
    height: fit-content;
    border-radius: 100px;
    color: #f2f2f2;
    text-align: center;
    padding: 27px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

#normal .orderbutton {
    background-color: #e60e33;
}

#blind .orderbutton {
    background-color: orange;
}

#normal .orderbutton:hover {
    outline-color: #e60e33;
    color: #e60e33;
    background-color: white;
    outline-style: solid;

}

#blind .orderbutton:hover {
    outline-color: orange;
    color: orange;
    background-color: white;
    outline-style: solid;
}

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 1.75s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#normal .sectionright {
    background-color: #e60e33;
    border-radius: 0px 0px 0px 500px;
}

#blind .sectionright {
    background-color: orange;
}

.fade-in-text {
    font-family: Arial;
    font-size: 150px;
    animation: fadeIn 1.75s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
